.wrapper {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 2rem;

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}

.logo {
  font-size: 3.4rem;
  font-weight: 700;

  span {
    color: var(--color-secondary);
  }

  @media only screen and (max-width: 600px) {
    font-size: 2.8rem;
  }
}

.searchBtn {
  display: flex;
  font-size: 2.4rem;
  cursor: pointer;
}
