.wrapper {
  margin: 10px 20px;

  @media only screen and (max-width: 600px) {
    margin: 0 10px;
  }
}

.back-btn {
  margin: 0 0 10px 10px;
  font-size: 1.8rem;

  @media only screen and (max-width: 600px) {
    font-size: 1.6rem;
  }
}

.player {
  height: 70vh;

  @media only screen and (max-width: 600px) {
    height: auto;
  }
}
